<ion-header>
  <ion-toolbar>
    <ion-title>signIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="full-height">
  <ion-row class="full-height">
    <ion-col sizeLg="6"  offsetLg="3" sizeMd="6" offsetMd="3" align-self-center>
      <ion-input type="email" placeholder="Email"></ion-input>
      <ion-input type="password" placeholder="Password"></ion-input>
      <ion-button expand="block" color="primary" href="/list">Sign in</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
