<ion-content >
  <div class="flex">

    <div class="div-row-flex flex-1">
      <ion-avatar class="large-logo">
        <img src='assets/logo-star-wars.png'>
      </ion-avatar>
    </div>
    
    <div class="div-row-flex flex-1">
      <ion-text color="primary">
        <h1 class="ion-text-center">Sign In</h1>
      </ion-text>
    </div>
    
    <div id="input-form" class="div-row-flex">
      <ion-list class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-icon name="mail" color="secondary"></ion-icon>
          <ion-input type="email" placeholder="Email" class="ion-margin-start"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-icon name="lock" color="secondary"></ion-icon>
          <ion-input type="password" placeholder="Password" class="ion-margin-start"></ion-input>
        </ion-item>
      </ion-list>

        <ion-text class="ion-float-end" color="medium">
          <p no-margin> Forgot password?</p>
        </ion-text>
    </div>

    <div class="div-row-flex flex-1">
      <ion-text class="ion-text-center">
        <p>Sign in with</p>
        <ion-icon name="logo-facebook" size="large" color="primary"></ion-icon>
      </ion-text>
    </div>

    <div class="div-row-flex flex-1">
      <ion-button fill="outline" expand="block" color="primary" shape="round" href="/list">Sign Up</ion-button>
      <ion-button expand="block" color="primary" shape="round" href="/list">Sign in</ion-button>
    </div>

    <div class="div-row-flex flex-0">
      <ion-text color="medium">
        <p class="underlined">Terms and conditions</p>
      </ion-text>
    </div>
    
  </div>

</ion-content>