<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
          <div class="flex">
            
            <div class="div-row-flex flex-1">
              <ion-avatar class="large-logo">
                <img src='assets/logo-star-wars.png'>
              </ion-avatar>
            </div>

            <div class="div-row-flex-colummn flex-1">
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                <div justify-content-start class="div-row-flex margin-start" [routerDirection]="'root'" [routerLink]="[p.url]">
                  <ion-icon slot="start" [name]="p.icon" size="large" color="medium"></ion-icon>
                  <p margin-start>{{p.title}}</p>
                </div>
              </ion-menu-toggle>
            </div>


            <div class="div-row-flex" [routerLink]="['/sign-in']">
              <ion-icon name="power" size="large" color="medium" margin-bottom></ion-icon>
            </div>
          </div>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
